body {
	overflow:hidden;
}

#canvasWrapper {
background-color: rgba(0,0,0,0.1);
display: inline-block;
position: absolute;
top: 0;
right: 0;
width: 300px;
height: 500px;
}

#canvas1 {
	float:left;
box-shadow: 0 0 27px rgba(0,0,0,0.3);
}

#worldWrapper {
	width:500px;
	height:500px;
	float:left;
}

#container {
width: 880px;
margin: auto;
height: 500px;
position: relative;
margin-top:5%;
}

#c {
background-color: rgba(0,0,0,0.1);
}

#charPicker {
	width:78px;
	float:left;
	background-color: rgba(0,0,0,0.1);
}

#charPicker img {
height: 96px;
	margin-left:15px;
}

#charPicker img:hover {
	background-color:rgba(255, 255, 0, 0.36);
}

#logo {
position: fixed;
height: 50px;
bottom: 0;
}

#done {
	position:absolute;
	bottom:0;
}

#collection {
position: absolute;
bottom: 0;
height: 100px;
overflow:scroll;
}

#collection img {
	height:100%;
	float:left;
}
