body {
	overflow:hidden;
}

#pick {
position: relative;
margin-left: -200px;
float: left;
margin-top:50px;
}

#draw {
float: right;
margin-right: -200px;
}

#enter {
margin-top: -28px;
text-align: center;
color: rgba(0, 0, 0, 0.2);
}

#canvasWrapper {
background-color: rgba(0,0,0,0.1);
display: inline-block;
position: absolute;
top: 0;
right: 0;
width: 300px;
height: 500px;
}

#canvas1 {
	float:left;
box-shadow: 0 0 27px rgba(0,0,0,0.3);
}

#worldWrapper {
	width:500px;
	height:500px;
	float:left;
}

#container {
width: 872px;
margin: auto;
height: 500px;
position: relative;
margin-top:5%;
}

#c {
background-color: rgba(0,0,0,0.1);
}

#charPicker {
	width:72px;
	float:left;
	background-color: rgba(0,0,0,0.1);
}

#charPicker img {
height: 76px;
padding:10px 20px;
}

#charPicker img:hover {
	background-color:rgba(255, 255, 0, 0.36);
}

#logo {
position: fixed;
height: 50px;
bottom: 0;
}

#done {
	position:absolute;
	bottom:0;
}

#collection {
position: absolute;
bottom: 0;
height: 100px;
overflow:scroll;
}

#collection img {
	height:100%;
	float:left;
}
