body {
	overflow:hidden;
}

#canvasWrapper {
	background-color:rgba(0,0,0,0.1);
	display: inline-block;
	position:fixed;
	right:0;
}

#c {
	width:300px;
	height:300px;
}


#canvas1 {
	float:left;
}

#logo {
position: fixed;
height: 50px;
bottom: 0;
}

#done {
	position:absolute;
	bottom:0;
}

#collection {
position: absolute;
bottom: 0;
height: 100px;
overflow:scroll;
}

#collection img {
	height:100%;
	float:left;
}
